/* ======= RESET ========= */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

/* ======= GLOBAL VARIABLES ========= */
:root {
  /* ======= COLORS ========= */
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

/* body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
} */
