/* ======= RESET ========= */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

/* ======= GLOBAL VARIABLES ========= */
:root {
  /* ======= COLORS ========= */
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(158, 38%, 28%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body {
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container {
  border-radius: 0.8rem;
  max-width: 29.2rem;
  margin: 5rem auto;
  background-color: var(--white);
}

img {
  border-radius: 0.8rem 0.8rem 0 0;
  vertical-align: bottom;
}

.product-type,
.product-description,
.discount,
.add-to-cart {
  font-family: 'Montserrat', sans-serif;
}

.product-name,
.price {
  font-family: 'Fraunces', serif;
}

.product-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.product-type,
.product-name,
.product-description {
  text-align: left;
}

.product-type {
  color: var(--dark-grayish-blue);
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

.product-name {
  color: var(--very-dark-blue);
  font-size: 2.8rem;
}

.product-description {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
}

.price-info {
  padding: 2rem;
  padding-top: 0rem;
  display: flex;
  column-gap: 2rem;
}

.price {
  color: var(--dark-cyan);
  font-size: 2.8rem;
}

.discount {
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
  align-self: center;
  text-decoration: line-through;
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.add-to-cart {
  margin: 2rem;
  margin-top: 0;
  background-color: var(--dark-cyan);
  color: var(--white);
  border-radius: 0.8rem;
  padding: 1.4rem 0;
  display: flex;
  justify-content: center;
  column-gap: 1.4rem;
}

.add-to-cart:hover {
  background-color: var(--darker-cyan);
  cursor: pointer;
}

.icon {
  background: url('./images/icon-cart.svg');
  background-size: auto;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
  color: var(--very-dark-blue);
  word-break: normal;
}
.attribution a {
  color: var(--dark-cyan);
}

@media (min-width: 767px) {
  .container {
    display: flex;
    max-width: 60rem;
  }

  img {
    border-radius: 0.8rem 0 0 0.8rem;
    max-width: 30rem;
  }

  .content {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
  }

  .product-name {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

/* small devices: 767 > */
/* medium devices: 992 > */
/* large devices: 1023 > */
/* extra large devices: 1200 > */
